@charset "UTF-8";

:root {
  /* 色管理用の変数 */
  --black-color: #060202;
  --white-color: #fff;
  /* --white-color02: #fffafa; */
  /* --gray-color: #aaa;
  --gray-color02: #fafafa; */
  --primary-color: #1c0e06;
  --hover-color: #85787164;
  --accent-color: #c14000;
  --sub-color: #ffba7e;
  --background-color: rgb(242 222 192 / 1);
}

:root {
  /* コンテンツ幅管理用の変数 */
  --content-width-xs: 360px;
  --content-width-sm: 640px;
  --content-width-md: 768px;
  --content-width-lg: 1088px;
  --content-width-xl: 1400px;
}

:root {
  /* z-index管理用の変数 */
  --z-index-back: -1;
  --z-index-default: 1;
  --z-index-default02: 10;
  --z-index-header: 100;
  --z-index-menu: 150;
  --z-index-modal: 200;
}

/* ---------- base ---------- */
body {
  color: var(--white-color);
  background-color: var(--primary-color);
  font-size: 16px;
  font-family: "Noto Serif JP", serif;
  line-height: 1.8;
  letter-spacing: 0.1em;
  /* * {
    border: 1px solid pink;
  } */
}

/* ---------- utility ---------- */

/* ---------- layout ---------- */
.l_header {
  z-index: var(--z-index-header);
  width: 100%;
  height: 100px;
  padding: 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  /* 上部固定 */
  background: linear-gradient(
    to bottom,
    var(--primary-color) 0%,
    transparent 100%
  );
  top: 0;
}

@media screen and (max-width: 768px) {
  .l_header {
    padding: 16px;
  }
}

@media screen and (max-width: 640px) {
  .l_header {
    height: 70px;
  }
}

@media screen and (max-width: 1080px) {
  .l_header-logo {
    padding: 5px;
    /* background-color: var(--hover-color); */
    position: relative;
  }
}

/* 767pxで調整 */
@media screen and (max-width: 767px) {
  .l_header-logo::before {
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    width: 0;
    height: 100%;
    background-color: var(--hover-color);
    transition: 0.3s;
    z-index: var(--z-index-back);
  }
}

/* 767pxで調整 */
@media screen and (max-width: 767px) {
  .l_header-logo:hover::before {
    width: 100%;
  }
}

.l_header-logo_link {
  pointer-events: none;
}

/* 767pxで調整 */
@media screen and (max-width: 767px) {
  .l_header-logo_link {
    pointer-events: auto;
    display: flex;
    height: 100%;
  }
}

.l_header-logo_img {
  width: 132px;
  height: 60px;
}

@media screen and (max-width: 640px) {
  .l_header-logo_img {
    width: 80px;
    height: 36px;
  }
}

/* --- header-nav JS作動に合わせて動くように確認必須のところ! --- */
/* 768px以上の時どのように表示されるか（PCから先に作ったから） */
.l_header-nav {
  position: static;
  /* 位置指定を解除。通常の文書フローに戻す */
  background: transparent;
  /* 背景を透明に背景を透明にしてヘッダ画像を見せる */
  width: auto;
  height: auto;
  /* 幅と高さの全画面を解除し内容に合わせる */
  opacity: 1;
  /* 完全に見えている状態へ */
  pointer-events: auto;
  /* クリックなどができる状態にする */
}

/* 767px以下の時の表示（表示の関係で767px） */
@media screen and (max-width: 767px) {
  .l_header-nav {
    color: var(--white-color);
    position: fixed;
    /* 画面に固定 */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /* 四辺すべて 0 → 画面いっぱいに広がる */
    /* 下を少し空けたいとかなら「bottom: 20vh;」とかにするとOK */
    /* transition: 0.5s; */
    background: var(--primary-color);
    z-index: var(--z-index-header);
  }
}

.l_header-nav_list {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 34px;
}

@media screen and (max-width: 1080px) {
  .l_header-nav_list {
    gap: 16px;
  }
}

/* 767pxで調整 */
@media screen and (max-width: 767px) {
  .l_header-nav_list {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    gap: 34px;
  }
}

.l_header-nav_item {
  padding-bottom: 2px;
  background-image: linear-gradient(var(--white-color), var(--white-color));
  background-repeat: no-repeat;
  background-position: bottom right;
  background-size: 0 1px;
  transition: background-size 0.3s;
}

.l_header-nav_item:hover {
  background-position: bottom left;
  background-size: 100% 1px;
}

/* 767pxで調整 */
@media screen and (max-width: 767px) {
  .l_header-nav_item {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s ease, transform 0.5s ease;
  }
}

/* ハンバーガーメニュー作動時アイコンがデカくなるので記述した */
.l_header-nav_item img {
  width: 40px;
  height: 40px;
}

.l_header-nav_link {
  display: flex;
  height: 100%;
}

.l_footer {
  background-color: var(--primary-color);
  position: relative;
}

.l_footer_contents {
  padding-top: 100px;
  padding-bottom: 64px;
}

@media screen and (max-width: 768px) {
  .l_footer_contents {
    padding: 64px 0;
  }
}

@media screen and (max-width: 360px) {
  .l_footer_contents {
    padding: 24px 0;
  }
}

.l_footer_info {
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 3px solid var(--white-color);
  width: 80vw;
  height: 19vh;
  margin: 0 auto;
  gap: 100px;
}

@media screen and (max-width: 360px) {
  .l_footer_info {
    flex-direction: column-reverse;
    border-top: none;
    position: relative;
    height: 200px;
    gap: 50px;
  }
}

@media screen and (max-width: 360px) {
  .l_footer_info::before {
    content: "";
    position: absolute;
    width: 80vw;
    border: 1px solid var(--white-color);
    transform: translateY(-15px);
  }
}

.l_footer_info-logo {
  width: 210px;
  height: 90px;
}

@media screen and (max-width: 640px) {
  .l_footer_info-logo {
    width: 150px;
    height: auto;
  }
}

@media screen and (max-width: 360px) {
  .l_footer_info-logo {
    width: 100px;
    height: auto;
  }
}

.l_footer_info-logo__img {
  width: 100%;
  height: auto;
}

.l_footer_info-icon__box {
  display: flex;
  gap: 22px;
}

/* フッターのアイコンブロックに下線アニメを適用 */
.l_footer_info-icon__block {
  display: inline-block;
  padding-bottom: 2px;
  background-image: linear-gradient(var(--white-color), var(--white-color));
  background-repeat: no-repeat;
  background-position: bottom right;
  background-size: 0 1px;
  transition: background-size 0.3s;
}

.l_footer_info-icon__block:hover {
  background-position: bottom left;
  background-size: 100% 1px;
}

.l_footer_info-icon {
  width: 40px;
  height: 40px;
  position: relative;
}

.l_footer-copyright {
  text-align: center;
}

/* ---------- module ---------- */
.m_opening {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: var(--z-index-modal);
  background: var(--black-color);
  display: flex;
  align-items: center;
  justify-content: center;
}

/* .m_opening_txt {
  color: var(--white-color);
  font-weight: bold;
}

.m_opening_heading {
  font-size: 40px;
}

.m_opening_desc {
  font-size: 24px;
}
 */

.m_hamburger {
  display: block;
  width: 30px;
  height: 23px;
  position: relative;
  z-index: var(--z-index-modal);
  border: none;
  background: transparent;
}

@media screen and (min-width: 768px) {
  .m_hamburger {
    display: none;
  }
}

.m_hamburger-bar {
  width: 100%;
  height: 3px;
  position: absolute;
  left: 0;
  background: var(--white-color);
  transition: ease 0.4s;
  /*ハンバーガーメニュークリック時の三本線の動きを遅延*/
}

.m_hamburger-bar:nth-child(1) {
  top: 0;
}

.m_hamburger-bar:nth-child(2) {
  top: 50%;
  transform: translateY(-50%);
}

.m_hamburger-bar:nth-child(3) {
  top: 100%;
  transform: translateY(-100%);
}

.m_commitment_ttl {
  font-size: 24px;
  font-weight: bold;
}

@media screen and (max-width: 640px) {
  .m_commitment_ttl {
    font-size: 20px;
  }
}

.m_commitment_txt {
  line-height: 3;
  margin-top: 70px;
}

@media screen and (max-width: 768px) {
  .m_commitment_txt {
    margin-top: 24px;
  }
}

.m_image-box {
  position: relative;
  width: 100%;
  height: 365px;
  background-color: var(--primary-color);
  /* JS用 */
  overflow: hidden;
}

@media screen and (max-width: 768px) {
  .m_image-box {
    height: 250px;
  }
}

@media screen and (max-width: 640px) {
  .m_image-box {
    height: 150px;
  }
}

@media screen and (max-width: 360px) {
  .m_image-box {
    display: none;
  }
}

.m_image-box::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.3);
  z-index: var(--z-index-default02);
}

.m_image-img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.m_image-img.coffee_top {
  object-position: 0% 0%;
}

.m_image-img.coffee_bottom {
  object-position: 0% 50%;
}

.m_menu-section {
  padding: 120px 16px;
  background: var(--background-color);
  color: var(--black-color);
  position: relative;
}

@media screen and (max-width: 768px) {
  .m_menu-section {
    padding: 120px 16px 0px;
  }
}

@media screen and (max-width: 360px) {
  .m_menu-section {
    padding: 80px 16px 0px;
  }
}

.m_menu-section.lunch {
  padding-top: 200px;
}

@media screen and (max-width: 768px) {
  .m_menu-section.lunch {
    padding-top: 120px;
  }
}

@media screen and (max-width: 360px) {
  .m_menu-section.lunch {
    padding-top: 80px;
  }
}

.m_menu-section.food {
  padding-bottom: 300px;
}

@media screen and (max-width: 768px) {
  .m_menu-section.food {
    padding-bottom: 200px;
  }
}

/* @media screen and (max-width: 360px) {
  .m_menu-section.food {
    padding-bottom: 170px;
  }
} */

.m_menu-section::before {
  content: "";
  font-weight: bold;
  font-size: 10vw;
  color: var(--accent-color);
  opacity: 9%;
  position: absolute;
  transform: translateY(-80%);
}

@media screen and (max-width: 768px) {
  .m_menu-section::before {
    transform: translate(-16px, -80%);
  }
}

.m_menu-section.lunch::before {
  content: "Lunch Set";
}

.m_menu-section.drink::before {
  content: "Drink Menu";
}

.m_menu-section.food::before {
  content: "Food Menu";
}

@media screen and (max-width: 360px) {
  .m_menu-section.lunch::before,
  .m_menu-section.drink::before,
  .m_menu-section.food::before {
    font-size: 48px;
  }
}

.m_menu_contents {
  margin: 0 auto;
  max-width: calc(var(--content-width-lg) + 32px);
}

.m_menu_container {
  position: relative;
  width: 100%;
}

.m_menu-copy_box {
  text-align: center;
}

.m_menu-copy_ttl {
  font-weight: bold;
  font-size: 32px;
}

@media screen and (max-width: 640px) {
  .m_menu-copy_ttl {
    font-size: 20px;
  }
}

.m_menu-copy_sub-ttl {
  font-weight: bold;
}

@media screen and (max-width: 640px) {
  .m_menu-copy_sub-ttl {
    font-size: 14px;
  }
}

.m_menu-copy_sub-txt {
  margin-top: 40px;
  line-height: 2;
}

@media screen and (max-width: 640px) {
  .m_menu-copy_sub-txt {
    display: none;
  }
}

.m_menu-group__lunch,
.m_menu-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  --gap: clamp(16px, 6.5vw, 90px);
  gap: 0 var(--gap);
  position: relative;
}

@media screen and (max-width: 768px) {
  .m_menu-group__lunch,
  .m_menu-group {
    gap: 0 40px;
  }
}

@media screen and (max-width: 640px) {
  .m_menu-group__lunch,
  .m_menu-group {
    flex-direction: column;
    align-items: center;
    gap: 60px;
  }
}

.m_menu-group > * {
  flex-grow: 0;
  /* 余白があっても広がらない */
  flex-shrink: 1;
  /* スペース不足なら縮む可 */
  flex-basis: calc((100% - var(--gap) * 2) / 3);
  /* 3列の基準幅（gapを差し引いて等分） */
}

.m_menu-group::before,
.m_menu-group::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  transform: translate(-50%, 3%);
  width: 3px;
  background: repeating-linear-gradient(
    to bottom,
    var(--black-color) 0 8px,
    transparent 8px 16px
  );
  pointer-events: none;
  /* スクロール時のアニメーション用 */
  transform-origin: top; /* 上から伸びる */
  transform: scaleY(0);
  transition: transform 2s ease; /* 伸びる時間 */
}

.m_menu-group.is-active::before,
.m_menu-group.is-active::after {
  transform: scaleY(1);
}

@media screen and (max-width: 640px) {
  .m_menu-group::before,
  .m_menu-group::after {
    content: none;
  }
}

.m_menu-group::before {
  left: calc(((100% - var(--gap) * 2) / 3) + var(--gap) / 2);
}

.m_menu-group::after {
  left: calc(((100% - var(--gap) * 2) / 3) * 2 + (var(--gap) * 3) / 2);
}

.m_menu_box {
  max-width: 300px;
  width: clamp(200px, 22vw, 300px);
  text-align: justify;
  position: relative;
  margin-top: 100px;
}

@media screen and (max-width: 768px) {
  .m_menu_box {
    margin-top: 50px;
  }
}

@media screen and (max-width: 640px) {
  .m_menu_box {
    width: 80%;
    margin-top: 0;
  }
}

@media screen and (max-width: 640px) {
  .m_menu_box:first-child {
    margin-top: 20px;
  }
}

.m_menu_img__block {
  height: auto;
}

.m_menu_img {
  width: 100%;
  height: 100%;
  border-radius: 50px 0 50px 0;
}

.m_menu_ttl {
  font-weight: bold;
  margin-top: 32px;
}

@media screen and (max-width: 640px) {
  .m_menu_ttl {
    margin-top: 16px;
  }
}

.m_menu_price__lunch {
  display: none;
}

@media screen and (max-width: 640px) {
  .m_menu_price__lunch {
    display: block;
    font-weight: bold;
    font-size: 14px;
  }
}

.m_menu_txt__lunch {
  display: none;
}

@media screen and (max-width: 640px) {
  .m_menu_txt__lunch {
    display: block;
    font-size: 14px;
    margin-top: 8px;
  }
}

.m_menu_price {
  font-weight: bold;
  margin-top: 8px;
}

@media screen and (max-width: 640px) {
  .m_menu_price {
    margin-top: 0;
    font-size: 14px;
  }
}

.m_menu_txt {
  margin-top: 16px;
}

@media screen and (max-width: 640px) {
  .m_menu_txt {
    margin-top: 8px;
    font-size: 14px;
  }
}

/* ---------- top ---------- */
.top_kv {
  height: 100vh;
  /* TOP KV スライドショーでHTMLで画像入れたのでBGのみ残してコメントアウト */
  background: linear-gradient(#0003, #0003);
  /* background: linear-gradient(#0003, #0003),
    url(../WebP/img_top.webp) center/cover; */
  position: relative;
  z-index: var(--z-index-default02);
}

@media screen and (max-width: 360px) {
  .top_kv {
    background-position: center center, 100% -70%;
    /* background-position: 100%, -70%; */
  }
}

.top_kv_inner {
  position: relative;
  height: 100%;
}

.top_kv_box {
  width: calc(100% - 117px * 2);
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: end;
  z-index: var(--z-index-default02);
}

@media screen and (max-width: 1080px) {
  .top_kv_box {
    left: 60%;
  }
}

@media screen and (max-width: 640px) {
  .top_kv_box {
    width: 50vw;
    left: 70%;
  }
}

.top_kv_copy {
  color: var(--white-color);
  font-weight: bold;
  font-size: 48px;
}

@media screen and (max-width: 768px) {
  .top_kv_copy {
    font-size: 35px;
  }
}

@media screen and (max-width: 640px) {
  .top_kv_copy {
    font-size: 30px;
  }
}

@media screen and (max-width: 360px) {
  .top_kv_copy {
    font-size: 25px;
  }
}

/* ----- KVスライドショー用 ----- */
.top_kv-slideshow {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.top_kv-slideshow_slide_img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  transform: scale(1);
  transition: transform 3.8s ease-out;
  transform-origin: center;
}

.swiper-slide-active .top_kv-slideshow_slide_img,
.swiper-slide-duplicate-active .top_kv-slideshow_slide_img,
.swiper-slide-prev .top_kv-slideshow_slide_img {
  animation: zoomanime 10s linear 0s normal both;
}

@keyframes zoomanime {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.05);
  }
}

.top_about-section {
  padding-top: 280px;
  padding-bottom: 100px;
  position: relative;
  /* height: 100svh;   固定中は画面高いっぱい */
  /* overflow: hidden; 中の流し込みを隠す */
}

@media screen and (max-width: 768px) {
  .top_about-section {
    padding-top: 200px;
    padding-bottom: 50px;
  }
}

@media screen and (max-width: 640px) {
  .top_about-section {
    padding-top: 150px;
  }
}

.top_about-section::before {
  content: "";
  background: var(--sub-color);
  width: 68vw;
  height: 400px;
  position: absolute;
  top: 145px;
  right: 0;
  opacity: 5%;
}

@media screen and (max-width: 768px) {
  .top_about-section::before {
    height: 300px;
    top: 100px;
  }
}

@media screen and (max-width: 640px) {
  .top_about-section::before {
    height: 130px;
    top: 90px;
  }
}

.top_about-section::after {
  content: "About";
  font-size: 10vw;
  font-weight: bold;
  color: var(--primary-color);
  position: absolute;
  top: 135px;
  right: 0;
  opacity: 80%;
  line-height: 1;
}

@media screen and (max-width: 768px) {
  .top_about-section::after {
    top: 100px;
  }
}

@media screen and (max-width: 640px) {
  .top_about-section::after {
    top: 90px;
  }
}

@media screen and (max-width: 360px) {
  .top_about-section::after {
    font-size: 48px;
  }
}

.top_about_contents {
  width: 100%;
  height: 500px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

/* @media screen and (max-width: 768px) {
  .top_about_contents {
    height: auto;
  }
} */

@media screen and (max-width: 768px) {
  .top_about_contents {
    flex-direction: column-reverse;
    text-align: center;
    gap: 40px;
    height: auto;
    overflow: hidden;
  }
}

/* .top_about_contents::before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 380px;
  height: 400px;
  background-image: url(../WebP/img_about_02.webp);
  background-size: contain;
} */

/* 擬似要素の画像にアニメーションつけるためJSだがここに記述 */
/* .top_about_contents.js_img-fadein::before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  transform: translateY(300px);
  width: 380px;
  height: 400px;
  background-image: url(../WebP/img_about_02.webp);
  background-size: contain;
  background-repeat: no-repeat;
  JSアニメーション用
  opacity: 0;
  filter: grayscale(100%);
  transition: opacity 1s ease 0s, filter 1s ease 0.5s;
  will-change: opacity, filter;
} */

/* .top_about_contents.js_img-fadein.is-active::before {
  opacity: 1;
  filter: grayscale(0%);
} */

/* @media screen and (max-width: 768px) {
  .top_about_contents.js_img-fadein::before {
    width: 300px;
    height: 380px;
    background-repeat: no-repeat;
  }
} */

/* @media screen and (max-width: 640px) {
  .top_about_contents.js_img-fadein::before {
    content: none;
  }
} */

.top_about_main-img_box {
  width: calc(100% * (4 / 5));
  max-width: 1000px;
  height: 430px;
  overflow: hidden;
}

@media screen and (max-width: 768px) {
  .top_about_main-img_box {
    width: 800px;
    /* width: clamp(40px, 9.9vw, 800px); */
  }
}

@media screen and (max-width: 640px) {
  .top_about_main-img_box {
    width: 100%;
  }
}

/* 動かす要素（中身） */
.top_about_main-img_box .js-parallax-elm {
  will-change: transform;
}

.top_about_main-img {
  width: 100%;
  /* height: 742px; */
  object-fit: cover;
  object-position: 100% 100%;
  position: relative;
  height: auto;
  transform: scale(1.2);
  display: block;
  /* もう少し動きを大きくしたい時に有効化 */
  /* min-height: 110%; */
}

@media screen and (max-width: 640px) {
  .top_about_main-img {
    height: 300px;
    object-position: center;
  }
}

.top_about-main_box {
  width: 450px;
  margin-left: clamp(40px, 9.9vw, 135px);
  margin-right: clamp(16px, 5.9vw, 128px);
  position: relative;
  z-index: var(--z-index-default02);
}

@media screen and (max-width: 1080px) {
  .top_about-main_box {
    margin-left: 40px;
  }
}

@media screen and (max-width: 768px) {
  .top_about-main_box {
    margin-left: 32px;
  }
}

@media screen and (max-width: 640px) {
  .top_about-main_box {
    margin: 0;
    width: 80%;
  }
}

.top_about_ttl {
  font-weight: bold;
  font-size: 3.6vw;
}

@media screen and (max-width: 768px) {
  .top_about_ttl {
    font-size: 35px;
  }
}

@media screen and (max-width: 640px) {
  .top_about_ttl {
    font-size: 20px;
  }
}

.top_about_txt {
  line-height: 3;
  text-align: justify;
  margin-top: 40px;
}

.top_about_sub-img__block {
  display: flex;
  justify-content: flex-end;
  margin-top: 24px;
}

@media screen and (max-width: 768px) {
  .top_about_sub-img__block {
    display: none;
  }
}

.top_about_sub-img__box {
  width: 400px;
  height: 300px;
}

.top_about_sub-img {
  margin: 0;
  /* width: 100%;
  height: 100%; */
  overflow: hidden;
  object-fit: cover;
  transform: scale(1.2);
}

/* ここからcommitmentセクション */
.top_commitment-section {
  padding-top: 350px;
  padding-bottom: 350px;
  position: relative;
}

@media screen and (max-width: 1080px) {
  .top_commitment-section {
    padding-top: 250px;
  }
}

@media screen and (max-width: 768px) {
  .top_commitment-section {
    padding: 200px 16px 300px 16px;
  }
}

@media screen and (max-width: 640px) {
  .top_commitment-section {
    padding: 150px 16px 200px 16px;
  }
}

@media screen and (max-width: 360px) {
  .top_commitment-section {
    padding-top: 100px;
  }
}

.top_commitment-section::before {
  content: "";
  background: var(--sub-color);
  width: 87vw;
  height: 400px;
  position: absolute;
  top: 145px;
  right: 0;
  opacity: 5%;
}

@media screen and (max-width: 768px) {
  .top_commitment-section::before {
    height: 300px;
    top: 100px;
  }
}

@media screen and (max-width: 640px) {
  .top_commitment-section::before {
    height: 150px;
    top: 40px;
  }
}

@media screen and (max-width: 360px) {
  .top_commitment-section::before {
    height: 100px;
  }
}

.top_commitment-section::after {
  content: "Nostéのこだわり";
  font-size: 9.3vw;
  font-weight: bold;
  color: var(--primary-color);
  position: absolute;
  top: 135px;
  right: 0;
  opacity: 80%;
  line-height: 1;
}

@media screen and (max-width: 768px) {
  .top_commitment-section::after {
    top: 100px;
  }
}

@media screen and (max-width: 640px) {
  .top_commitment-section::after {
    top: 40px;
  }
}

@media screen and (max-width: 360px) {
  .top_commitment-section::after {
    font-size: 32px;
  }
}

.top_commitment_block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

/* 擬似要素画像にアニメーション */
/* .top_commitment-img_block.hand.js_img-fadein::before {
  content: "";
  position: absolute;
  width: 331px;
  height: 496px;
  background-image: url(../WebP/img_about_05.webp);
  background-position: center;
  background-size: contain;
  transform: translate(-25%, 75%);
  アニメ対象
  opacity: 0;
  filter: grayscale(100%);
  transition: opacity 1s ease 0s, filter 1s ease 0.5s; 
  will-change: opacity, filter;
} */

@media screen and (max-width: 768px) {
  .top_commitment_block {
    flex-direction: column-reverse;
  }
}

.top_commitment_block:not(:first-child) {
  margin-top: 120px;
}

@media screen and (max-width: 768px) {
  .top_commitment_block:not(:first-child) {
    margin-top: 100px;
  }
}

.top_commitment_block:nth-child(even) {
  flex-direction: row-reverse;
}

@media screen and (max-width: 768px) {
  .top_commitment_block:nth-child(even) {
    flex-direction: column-reverse;
  }
}

.top_commitment-img_box.coffee {
  width: calc(100% * (1 / 2));
  height: 676px;
  overflow: hidden;
  margin-right: clamp(100px, 8.1vw, 112px);
}

.top_commitment-img_box.hand {
  width: calc(100% * (1 / 2));
  height: 857px;
  overflow: hidden;
  margin-left: calc(100% * (1 / 10));
  text-align: right;
  position: relative;
}

.top_commitment-img_box.hand::before {
  content: "";
  position: absolute;
  width: 331px;
  height: 496px;
  background-image: url(../WebP/img_about_05.webp);
  background-position: center;
  background-size: contain;
  transform: translate(-25%, 75%);
}

@media screen and (max-width: 768px) {
  .top_commitment-img_box.hand::before {
    content: none;
  }
}

.top_commitment-img_box.space {
  width: calc(100% * (4.9 / 10));
  height: 661px;
  overflow: hidden;
  margin-right: clamp(100px, 2.3vw, 112px);
  text-align: right;
}

.top_commitment-img_box.space::before {
  content: "";
  width: 554px;
  height: 518px;
  background: var(--sub-color);
  opacity: 5%;
  position: absolute;
  left: 0;
  bottom: 0;
}

@media screen and (max-width: 768px) {
  .top_commitment-img_box.space::before {
    content: none;
  }
}

@media screen and (max-width: 768px) {
  .top_commitment-img_box.coffee,
  .top_commitment-img_box.hand,
  .top_commitment-img_box.space {
    width: 100%;
    height: auto;
    margin: 0;
    margin-top: 24px;
  }
}

.top_commitment-img {
  object-fit: cover;
  object-position: 100% 100%;
}

@media screen and (max-width: 768px) {
  .top_commitment-img {
    object-position: center top;
  }
}

.top_commitment-img.coffee {
  width: 100%;
  height: 100%;
  object-position: center;
}

.top_commitment-img.hand {
  width: 596px;
  height: 397px;
  position: relative;
}

@media screen and (max-width: 1080px) {
  .top_commitment-img.hand {
    width: 400px;
    object-position: left;
  }
}

@media screen and (max-width: 768px) {
  .top_commitment-img.hand {
    width: 100%;
    height: auto;
  }
}

.top_commitment-img.space {
  width: 646px;
  height: 464px;
  position: relative;
}

@media screen and (max-width: 768px) {
  .top_commitment-img.space {
    width: 100%;
    height: auto;
  }
}

.top_commitment-txt_box {
  width: 480px;
  text-align: justify;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .top_commitment-txt_box {
    width: 100%;
  }
}

.top_commitment-txt_box.coffee,
.top_commitment-txt_box.space {
  margin-right: calc(100% * (0.9 / 10));
  /* position: relative; */
}

@media screen and (max-width: 1080px) {
  .top_commitment-txt_box.coffee,
  .top_commitment-txt_box.space {
    margin-right: calc(100% * (0.5 / 10));
  }
}

@media screen and (max-width: 768px) {
  .top_commitment-txt_box.coffee,
  .top_commitment-txt_box.space {
    margin: 0;
  }
}

.top_commitment-txt_box.hand {
  margin-left: calc(100% * (0.9 / 10));
}

@media screen and (max-width: 768px) {
  .top_commitment-txt_box.hand {
    margin: 0;
  }
}

.top_commitment-txt_box.coffee::before,
.top_commitment-txt_box.space::before {
  content: "";
  position: absolute;
  right: 0;
  width: calc(100% * (4.7 / 10));
  height: 5px;
  background: var(--accent-color);
  opacity: 0.15;
  /* transform: translateY(80px); */
  /* JSアニメーション用 */
  transform-origin: left;
  transform: translateY(80px) scaleX(0);
  transition: transform 1s ease;
}

@media screen and (max-width: 1080px) {
  .top_commitment-txt_box.coffee::before,
  .top_commitment-txt_box.space::before {
    width: calc(100% * (1 / 2));
  }
}

@media screen and (max-width: 768px) {
  .top_commitment-txt_box.coffee::before,
  .top_commitment-txt_box.space::before {
    left: 0;
    width: 80%;
    /* JSアニメーション用 */
    transform: translate(-16px, 55px) scaleX(0);
  }
}

@media screen and (max-width: 640px) {
  .top_commitment-txt_box.coffee::before,
  .top_commitment-txt_box.space::before {
    left: 0;
    width: 80%;
    transform: translate(-16px, 40px) scaleX(0);
  }
}

.top_commitment-txt_box.coffee.is-active::before,
.top_commitment-txt_box.space.is-active::before {
  /* JSアニメーション用 */
  transform: translateY(80px) scaleX(1);
}

@media screen and (max-width: 768px) {
  .top_commitment-txt_box.coffee.is-active::before,
  .top_commitment-txt_box.space.is-active::before {
    /* JSアニメーション用 */
    transform: translate(-16px, 55px) scaleX(1);
  }
}

@media screen and (max-width: 640px) {
  .top_commitment-txt_box.coffee.is-active::before,
  .top_commitment-txt_box.space.is-active::before {
    /* JSアニメーション用 */
    transform: translate(-16px, 40px) scaleX(1);
  }
}

.top_commitment-txt_box.hand::before {
  content: "";
  position: absolute;
  left: 0;
  width: calc(100% * (4.7 / 10));
  height: 5px;
  background: var(--accent-color);
  opacity: 15%;
  /* transform: translateY(80px); */
  /* JSアニメーション用 */
  transform-origin: left;
  transform: translateY(80px) scaleX(0);
  transition: transform 1s ease;
}

@media screen and (max-width: 1080px) {
  .top_commitment-txt_box.hand::before {
    width: calc(100% * (1 / 2));
  }
}

@media screen and (max-width: 768px) {
  .top_commitment-txt_box.hand::before {
    left: 0;
    width: 80%;
    transform: translate(-16px, 55px) scaleX(0);
  }
}

@media screen and (max-width: 640px) {
  .top_commitment-txt_box.hand::before {
    left: 0;
    width: 80%;
    transform: translate(-16px, 40px) scaleX(0);
  }
}

.top_commitment-txt_box.hand.is-active::before {
  /* JSアニメーション用 */
  transform: translateY(80px) scaleX(1);
}

@media screen and (max-width: 768px) {
  .top_commitment-txt_box.hand.is-active::before {
    /* JSアニメーション用 */
    transform: translate(-16px, 55px) scaleX(1);
  }
}

@media screen and (max-width: 640px) {
  .top_commitment-txt_box.hand.is-active::before {
    /* JSアニメーション用 */
    transform: translate(-16px, 40px) scaleX(1);
  }
}

@media screen and (max-width: 500px) {
  .top_commitment-txt_box.hand.is-active::before {
    width: 90%;
  }
}

/* テスト中 */
.top_image-section {
  background-color: var(--primary-color);
}

.top_address-section {
  padding-top: 280px;
  padding-bottom: 180px;
  position: relative;
  background-color: var(--primary-color);
}

@media screen and (max-width: 768px) {
  .top_address-section {
    padding: 150px 16px 250px;
  }
}

@media screen and (max-width: 360px) {
  .top_address-section {
    padding: 100px 16px 200px;
  }
}

.top_address-section::before {
  content: "";
  background: var(--sub-color);
  width: 67vw;
  height: 300px;
  position: absolute;
  top: 145px;
  right: 0;
  opacity: 5%;
}
@media screen and (max-width: 768px) {
  .top_address-section::before {
    height: 300px;
    top: 90px;
  }
}

@media screen and (max-width: 640px) {
  .top_address-section::before {
    height: 120px;
  }
}

@media screen and (max-width: 360px) {
  .top_address-section::before {
    top: 50px;
  }
}

.top_address-section::after {
  content: "Address";
  font-size: 10vw;
  font-weight: bold;
  color: var(--primary-color);
  position: absolute;
  top: 125px;
  right: 0;
  opacity: 80%;
  line-height: 1;
}

@media screen and (max-width: 768px) {
  .top_address-section::after {
    top: 80px;
  }
}

@media screen and (max-width: 360px) {
  .top_address-section::after {
    top: 40px;
    font-size: 48px;
  }
}

.top_address_ttl {
  font-weight: bold;
  font-size: 32px;
  text-align: center;
}

@media screen and (max-width: 640px) {
  .top_address_ttl {
    font-size: 20px;
  }
}

.top_address_group {
  display: flex;
  justify-content: center;
  width: 86vw;
  max-width: 1200px;
  margin: 140px auto 0;
  gap: 3vw;
}

@media screen and (max-width: 1080px) {
  .top_address_group {
    flex-direction: column;
    align-items: center;
    margin: 40px auto;
    width: 100%;
  }
}

@media screen and (max-width: 360px) {
  .top_address_group {
    margin: 24px auto;
  }
}

.top_address-img_box {
  display: flex;
  width: 45vw;
  max-width: 700px;
  gap: 5px;
}

@media screen and (max-width: 1080px) {
  .top_address-img_box {
    width: 80%;
  }
}

.top_address-img_block {
  width: 100%;
  height: 100%;
}

.top_address-img__left {
  padding-top: 95px;
}

@media screen and (max-width: 768px) {
  .top_address-img__left {
    padding-top: 50px;
  }
}

@media screen and (max-width: 360px) {
  .top_address-img__left {
    padding-top: 20px;
  }
}

.top_address-img__right {
  padding-top: 167px;
}

@media screen and (max-width: 768px) {
  .top_address-img__right {
    padding-top: 100px;
  }
}

@media screen and (max-width: 360px) {
  .top_address-img__right {
    padding-top: 40px;
  }
}

.top_address-data_box {
  width: 41vw;
}

@media screen and (max-width: 1080px) {
  .top_address-data_box {
    width: 80%;
  }
}

@media screen and (max-width: 360px) {
  .top_address-data_box {
    width: 100%;
  }
}

.top_address-data_ttl__box {
  display: flex;
  align-items: end;
}

.top_address-data_ttl__block.noste {
  margin-right: 25px;
}

.top_address-data_table {
  border-top: 2px solid var(--white-color);
  border-bottom: 2px solid var(--white-color);
  margin-top: 30px;
}

.top_address-data_table tr:first-child :is(th, td) {
  padding-top: 56px;
}

@media screen and (max-width: 768px) {
  .top_address-data_table tr:first-child :is(th, td) {
    padding-top: 30px;
  }
}

@media screen and (max-width: 768px) {
  .top_address-data_table tr:first-child :is(th, td) {
    padding-top: 8px;
  }
}

@media screen and (max-width: 640px) {
  .top_address-data_table tr:first-child > :first-child {
    padding-top: 30px;
  }
}

.top_address-data_table tr:last-child :is(th, td) {
  padding-top: 56px;
  padding-bottom: 56px;
}

@media screen and (max-width: 768px) {
  .top_address-data_table tr:last-child :is(th, td) {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

@media screen and (max-width: 640px) {
  .top_address-data_table tr:last-child :is(th, td) {
    padding-top: 8px;
    padding-bottom: 8px;
  }
}

.top_address-data_table tr:nth-of-type(5) :is(th, td) {
  border-bottom: 2px solid var(--white-color);
  padding-bottom: 56px;
}

@media screen and (max-width: 768px) {
  .top_address-data_table tr:nth-of-type(5) :is(th, td) {
    padding-bottom: 30px;
  }
}

@media screen and (max-width: 640px) {
  .top_address-data_table tr:nth-of-type(5) :is(th) {
    padding-bottom: 8px;
    border-bottom: none;
  }
}

/* 追加記述 */
@media screen and (max-width: 640px) {
  .top_address-data_table tr:nth-of-type(6) :is(th) {
    padding-top: 30px;
  }
  .top_address-data_table tr:nth-of-type(6) :is(td) {
    padding-bottom: 30px;
  }
}

.top_address-data_tr {
  vertical-align: top;
}

.top_address-data_th {
  font-weight: bold;
  width: 200px;
  padding: 28px 0px 28px 28px;
}

@media screen and (max-width: 768px) {
  .top_address-data_th {
    display: block;
    font-size: 14px;
    padding: 8px 16px;
  }
}

@media screen and (max-width: 640px) {
  .top_address-data_th {
    width: 100%;
    padding: 8px 16px;
  }
}

.top_address-data_td {
  padding: 28px 8px 28px 8px;
}

@media screen and (max-width: 768px) {
  .top_address-data_td {
    font-size: 14px;
    padding: 8px 16px;
    width: 100%;
  }
}

@media screen and (max-width: 640px) {
  .top_address-data_td {
    display: block;
    padding: 8px 32px;
  }
}
.top_address-data_txt__box {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 9vw;
  padding-top: 30px;
}

@media screen and (max-width: 1080px) {
  .top_address-data_txt__box {
    gap: 5vw;
  }
}

@media screen and (max-width: 360px) {
  .top_address-data_txt__box {
    flex-direction: column;
    gap: 8px;
  }
}

@media screen and (max-width: 640px) {
  .top_address-data_txt {
    font-size: 14px;
  }
}

.top_address-data_icon__box {
  display: flex;
  gap: 16px;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 360px) {
  .top_address-data_icon__box {
    gap: 8px;
  }
}

/* アドレスのアイコンブロックに下線アニメを適用 */
.top_address-data_icon__block {
  /* display: inline-block; */
  padding-bottom: 2px;
  background-image: linear-gradient(var(--white-color), var(--white-color));
  background-repeat: no-repeat;
  background-position: bottom right;
  background-size: 0 1px;
  transition: background-size 0.3s;
}

.top_address-data_icon__block:hover {
  background-position: bottom left;
  background-size: 100% 1px;
}

.top_address-data_icon__link {
  display: block;
  width: 100%;
  height: auto;
}

.top_address-data_icon__insta,
.top_address-data_icon__x {
  width: 100%;
}

.top_address__map {
  margin: 100px auto 0;
  width: 70%;
  height: 480px;
  position: relative;
}

@media screen and (max-width: 1080px) {
  .top_address__map {
    margin: 80px auto 0;
    width: 90%;
  }
}

@media screen and (max-width: 768px) {
  .top_address__map {
    margin: 80px auto 0;
    width: 90%;
    height: 35vh;
  }
}

@media screen and (max-width: 360px) {
  .top_address__map {
    margin: 40px auto 0;
    width: 100%;
  }
}

.top_address__map iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

@media screen and (max-width: 768px) {
  .top_address__map iframe {
    height: 100%;
  }
}

.top_contact-section {
  padding-top: 250px;
  padding-bottom: 40px;
  position: relative;
  background-color: var(--primary-color);
}

@media screen and (max-width: 768px) {
  .top_contact-section {
    padding: 150px 16px 50px;
  }
}

@media screen and (max-width: 640px) {
  .top_contact-section {
    padding-top: 100px;
  }
}

@media screen and (max-width: 360px) {
  .top_contact-section {
    padding-bottom: 50px;
  }
}

.top_contact-section::before {
  content: "";
  background: var(--sub-color);
  width: 66vw;
  height: 300px;
  position: absolute;
  top: 145px;
  right: 0;
  opacity: 5%;
  pointer-events: none;
}

@media screen and (max-width: 768px) {
  .top_contact-section::before {
    height: 300px;
    top: 80px;
  }
}

@media screen and (max-width: 640px) {
  .top_contact-section::before {
    height: 120px;
    top: 50px;
  }
}

.top_contact-section::after {
  content: "Contact";
  font-size: 10vw;
  font-weight: bold;
  color: var(--primary-color);
  position: absolute;
  top: 125px;
  right: 0;
  opacity: 80%;
  line-height: 1;
  pointer-events: none;
}

@media screen and (max-width: 768px) {
  .top_contact-section::after {
    top: 75px;
  }
}

@media screen and (max-width: 640px) {
  .top_contact-section::after {
    top: 40px;
  }
}

@media screen and (max-width: 360px) {
  .top_contact-section::after {
    font-size: 48px;
  }
}

.top_contact-ttl_group {
  text-align: center;
}

.top_contact-ttl {
  font-weight: bold;
  font-size: 32px;
}

@media screen and (max-width: 640px) {
  .top_contact-ttl {
    font-size: 20px;
  }
}

.top_contact-txt {
  margin-top: 40px;
}

@media screen and (max-width: 640px) {
  .top_contact-txt {
    text-align: left;
    text-align: justify;
  }
}

/* ---------- service ---------- */

/* ---------- case ---------- */

/* ---------- company ---------- */

/* ---------- contact ---------- */
.contact_form {
  max-width: 1000px;
  margin: 60px auto 0;
  padding: 0 16px;
}

@media screen and (max-width: 1080px) {
  .contact_form {
    max-width: 80vw;
    /* margin-top: 0px; */
  }
}

@media screen and (max-width: 768px) {
  .contact_form {
    max-width: 80vw;
    margin-top: 0px;
  }
}

@media screen and (max-width: 640px) {
  .contact_form {
    width: 100%;
    max-width: none;
  }
}

.contact_form_heading {
  font-weight: bold;
  display: flex;
  align-items: center;
  margin-top: 40px;
}

@media screen and (max-width: 360px) {
  .contact_form_heading {
    justify-content: space-between;
  }
}

.contact_form_required {
  margin-left: 16px;
  font-size: 12px;
  width: 40px;
  height: 19px;
  background-color: var(--accent-color);
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact_form_detail {
  margin-top: 16px;
}

.contact_form_input {
  padding: 8px;
  width: 100%;
  height: 40px;
  background-color: #fff;
  color: var(--black-color);
}

.contact_form_example-wrapper {
  font-size: 14px;
  margin-top: 16px;
}

@media screen and (max-width: 360px) {
  .contact_form_example-wrapper {
    font-size: 12px;
    text-align: justify;
  }
}

.contact_form_textarea {
  width: 100%;
  height: 150px;
  background-color: #fff;
  padding: 8px;
  font-size: 16px;
  color: var(--black-color);
}

.contact_form_btn-wrapper {
  text-align: center;
  width: 310px;
  margin: 80px auto;
  position: relative;
}

@media screen and (max-width: 640px) {
  .contact_form_btn-wrapper {
    width: 280px;
  }
}
@media screen and (max-width: 360px) {
  .contact_form_btn-wrapper {
    width: 230px;
  }
}

.contact_form_btn-wrapper::before {
  content: "";
  position: absolute;
  width: 100px;
  height: 2px;
  background-color: #fff;
  top: 50%;
  left: 80%;
  transform: translateY(-50%);
  pointer-events: none;
}

@media screen and (max-width: 640px) {
  .contact_form_btn-wrapper::before {
    width: 80px;
    top: 50%;
    left: 80%;
  }
}

@media screen and (max-width: 360px) {
  .contact_form_btn-wrapper::before {
    width: 50px;
    left: 85%;
  }
}

.contact_form_btn-wrapper::after {
  content: "";
  position: absolute;
  width: 13px;
  height: 13px;
  border-top: 2px solid #fff;
  border-right: 2px solid #fff;
  rotate: 45deg;
  top: 47%;
  left: 106%;
  transform: translateY(-50%);
  pointer-events: none;
}

@media screen and (max-width: 640px) {
  .contact_form_btn-wrapper::after {
    top: 47%;
    left: 102%;
  }
}

@media screen and (max-width: 360px) {
  .contact_form_btn-wrapper::after {
    top: 46%;
    left: 98%;
  }
}

/* コンタクトフォーム7により表示崩れが起こるため追記 */
.wpcf7-spinner {
  display: none !important;
}

.contact_form_btn {
  max-width: 310px;
  width: 100%;
  height: 60px;
  line-height: 60px;
  box-sizing: border-box;
  background-color: var(--accent-color);
  font-weight: bold;
  padding: 0 30px;
  text-align: left;
  border: 2px solid transparent;
  transition: background-color 0.3s ease, border-color 0.3s ease,
    color 0.3s ease;
}

@media screen and (max-width: 360px) {
  .contact_form_btn {
    padding: 0 16px;
  }
}

.contact_form_btn:hover {
  background-color: var(--primary-color);
  border-color: var(--white-color);
}

/* ---------- js ---------- */

/* ハンバーガーメニュー＆オープニングアニメーション時の固定する記述 */
.js_body.is-active,
.js_opening-body.is-active {
  overflow: hidden;
  /* スクロールを固定 */
}

/* navがどのように出てくるかの記述 */
.js_nav {
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.5s;
  /* ナビボタンを押したら0.5秒かけて変化 */
}

@media screen and (min-width: 768px) {
  .js_nav {
    opacity: 1;
    pointer-events: auto;
  }
}

.js_nav.is-active {
  opacity: 1;
  pointer-events: auto;
}

.js_nav.is-active .l_header-nav_item {
  opacity: 1;
  /* pointer-events: auto; */
  transform: none;
}

.js_nav.is-active .l_header-nav_item:nth-child(1) {
  transition-delay: 0.1s;
}
.js_nav.is-active .l_header-nav_item:nth-child(2) {
  transition-delay: 0.2s;
}
.js_nav.is-active .l_header-nav_item:nth-child(3) {
  transition-delay: 0.3s;
}
.js_nav.is-active .l_header-nav_item:nth-child(4) {
  transition-delay: 0.4s;
}
.js_nav.is-active .l_header-nav_item:nth-child(5) {
  transition-delay: 0.5s;
}
.js_nav.is-active .l_header-nav_item:nth-child(6) {
  transition-delay: 0.6s;
}
.js_nav.is-active .l_header-nav_item:nth-child(7) {
  transition-delay: 0.7s;
}

/* ハンバーガーメニュークリック時の作動 */
.js_hamburger.is-active .m_hamburger-bar:nth-child(1) {
  top: 50%;
  transform: translateY(-50%) rotate(135deg);
}

.js_hamburger.is-active .m_hamburger-bar:nth-child(2) {
  transform: translate(50%, -50%);
  opacity: 0;
}

.js_hamburger.is-active .m_hamburger-bar:nth-child(3) {
  top: 50%;
  transform: translateY(-50%) rotate(-135deg);
}

/* 画像のふわっとアニメーション */
.js_img-fadein {
  opacity: 0;
  filter: grayscale(100%);
}

.js_img-fadein.is-active {
  opacity: 1;
  filter: grayscale(0%);
  transition: opacity 3s ease 0.2s, filter 2s ease 1s;
}

/* セクションがページのように重なって表示されるスクロールアニメーション */
.js-scroll-overlap:not(.is-disabled) {
  --sticky-offset: -1px;
  position: sticky;
  top: var(--sticky-offset);
}

/* Parallaxアニメーション ベースの設定 */
.js-parallax-elm-box {
  overflow: hidden;
}

.js-parallax-elm-box img {
  display: block;
}
